
table tr td {
  vertical-align: top;
}

#tab-graph {
  margin:0,
  width: 90%
}

#thing-browser tr td {
  width: 250px;
}

.layout-table thead, #table {
  font-weight: bold;
}

#table tr td {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
#table thead {
  font-weigth: bold;
  color: white;
  background-color: grey;
}
#table .prototype {
  background-color: lightgrey;
}

.thing {
  display: inline;
  color: #1f3287;
  cursor: pointer;
}

.thing:hover {
  text-decoration: underline;
}

.inherited {
  opacity: 0.5;
}

.prototype-list {
  width: 200px;
}

.focus-type {
  background-color: yellow;
}
